@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    // ViewBag.Title = "Home Page";
}
<html>
<head>
    <title>Sample hot load demo</title>
</head>
<body>
    <div id="content"></div>
    @*<script src="/app/app.js"></script>*@
    <script src="http://localhost:3000/app/app.js"></script>
</body>
</html>